{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>UNDER DEVELOPMENT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#2c74e8"> 
 
<div class="container">
  <h1><center><a href="/" style="color:white" >UNDER DEVELOPMENT</a></center></h1>
  <div class="panel panel-default">
    <div class="panel-body">
        <p><font size="4em">If you're reading this you're likely a contractor working for 
	Bulldog Industries. Congratulations! I'm your new boss, Team Lead: Alan Brooke. The CEO 
	has literally fired the entire dev team and staff. As a result, we need to hire a bunch of people 
	very quickly. I'm going to try and give 
	you a crash course on Bulldog Industries website.<br><br>
	<b>How did the previous website get attacked?</b><br><br>
	An APT exploited a vulnerability in the webserver which gave them a low-privilege shell. 
	From there they exploited dirty cow to get root on the box. After that, the entire system 
	was taken over and they defaced the website. We have moved over some files from the original 
	system. We haven't had a chance to make sure there were no lingering traces of the hack so if you find 
	any, send me an email.<br><br>
	<b>How are we preventing future breaches?</b><br><br>
	At the request of Mr. Churchy, we are removing PHP entirely from the new server. Additionally 
	we will not be using PHPMyAdmin or any other popular CMS system. We have been tasked with creating 
	our own.<br><br>
	<b>Design of new system?</b><br><br>
	The new website will be written entirely in Django (Mr. Churchy requested "high-end tech hipster stuff"). 
	As of right now, SSH is enabled on the system. This will be turned off soon as we will transition 
	to using Web-Shell, a proprietary shell interface. This tool is explained at the link below. Additionally, 
	be aware that we will start using MongoDB, however we haven't fully installed that yet.

	<p><font size="6em"><center><a href="/dev/shell" style="color:blue">Web-Shell</a></center></font></p>

	<b>Who do I talk to to get started?</b><br><br>

	<!--We'll remove these in prod. It's not like a hacker can do anything with a hash-->
	Team Lead: alan@bulldogindustries.com<br><!--6515229daf8dbdc8b89fed2e60f107433da5f2cb-->
	Back-up Team Lead: william@bulldogindustries.com<br><br><!--38882f3b81f8f2bc47d9f3119155b05f954892fb-->
	Front End: malik@bulldogindustries.com<br><!--c6f7e34d5d08ba4a40dd5627508ccb55b425e279-->
	Front End: kevin@bulldogindustries.com<br><br><!--0e6ae9fe8af1cd4192865ac97ebf6bda414218a9-->
	Back End: ashley@bulldogindustries.com<br><!--553d917a396414ab99785694afd51df3a8a8a3e0-->
	Back End: nick@bulldogindustries.com<br><br><!--ddf45997a7e18a25ad5f5cf222da64814dd060d5-->
	Database: sarah@bulldogindustries.com<br><!--d8b8dd5e7f000b8dea26ef8428caf38c04466b3e-->
	</font></p>
    </div>
  </div>
</div>

</body>
</html>

