{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bulldog Industries</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:grey"> 
 
<div class="container">
  <h1 style="color:white">Bulldog Industries</h1>
  <div class="panel panel-default">
    <div class="panel-body">
        <p><font size="4em">Thank you for visiting Bulldog Industries website, the world's number 
	one purveyor of high quality English Bulldog photography! Unfortunately we are 
	suspending business operations until further notice. On the first of this month, 
	we were made aware of a breach of our technology systems. We are currently 
	assessing the possibility that hackers may have gotten access to customer 
	payment information. Do not be alarmed as we will be providing simple credit 
	monitoring for all affected customers.<br><br>For more information on this, please 
	see our public disclosure notice found below.</font></p>

	<p><font size="6em"><center><a href="\notice" style="color:blue">Public Notice</a></center></font></p>

	<center><img style="max-width:100%" src="{% static 'bulldog.jpg' %}"/></center>
    </div>
  </div>
</div>

</body>
</html>

