{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bulldog Industries</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:grey"> 
 
<div class="container">
  <h1><a href="/" style="color:white" >Bulldog Industries</a></h1>
  <div class="panel panel-default">
    <div class="panel-body">
        <p><font size="4em">To our valued customers,<br><br>On the first of this month our 
	technical analysts discovered a breach of our payment card systems. We are not 
	entirely sure how these hackers accomplished this. Our technical folk are telling me 
	something about a clam shell and a smelly cow? I'm not sure about all of that.<br><br>
	To prove Bulldog Industires commitment to our customers I fired all of our existing 
	technical staff. All of them! We are going to restart from the ground up!<br><br>
	You gotta see the neck beards on these guys! They know their stuff, security wont be 
	a problem from now on! I'd like to remind our valued customers that we will be 
	providing basic credit monitoring services as a result of this breach.<br><br>
	Your true friend,<br><br>Winston Churchy</font></p>
    </div>
  </div>
</div>

</body>
</html>

